* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
}

a {
    color: black;
    font-weight: 600;
    text-decoration: none;
}

h1 {
    margin: 2rem;
}
h2 {
    margin: 1rem;
}

.centered-container {
    display: flex;
    padding: 4rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.split-container {
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
}

footer {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    bottom: 0;
}

footer p {
    text-align: center;
}

ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

ul li {
    margin: 1rem;
    transition: 0.5s ease;
}

ul li:hover {
    margin: 2.2rem;
    font-size: larger;
    transition: 0.5s ease;
}
.return-to-main {
    margin: 1rem;
}
